.checkoutProduct{
    display: flex; 
    margin-top: 20px; 
    margin-bottom : 20px; 
}
.checkoutProduct__info{
    font-family: 'Montserrat', sans-serif;
    color:#59695A;
    padding-left : 20px; 

}

.checkoutProduct__info > button{
    font-family: 'Montserrat', sans-serif;
    background: #59695A; 
    margin-top: 10px;
    color: #fff;
    border: none;
    height: 35px;
    width: 175px;
    border-radius: 10px;
}
.checkoutProduct__button:hover{
    background: #374238;
    cursor: pointer;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__title{
    font-size: 17px; 
    font-weight: 800;
}