
.home__top{
    display: flex;
    font-family: 'Montserrat', sans-serif; 
    color: #59695A;
    /* margin-bottom: 50px; */
    background-color: #fff;
    padding-right: 7%;
    padding-bottom: 4%;
}
.home{
    display: flex; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}
.home__top__intro{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 13%;
    padding-right: 210px;
    font-size: 1.25rem;
}

.home__top__intro__button{
    font-family: 'Montserrat', sans-serif; 
    color:#FFF;
    width: 200px;
    height: 40px;
    background: #59695A;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
}

.home__top__image{
    width: 650px;
    height: 350px;
    padding-right: 100px;
}
.home__row{
    display: flex; 
    z-index: 1; 
    margin-left: 5px; 
    margin-right: 5px;
}

.home__bottom{
    background: linear-gradient(180deg, #C4DCC0 0%, rgba(196, 220, 192, 0) 100%);
}

